/*
 * Your Stylesheet
 *
 * This stylesheet is loaded when Atom starts up and is reloaded automatically
 * when it is changed and saved.
 *
 * Add your own CSS or Less to fully customize Atom.
 * If you are unfamiliar with Less, you can read more about it here:
 * http://lesscss.org
 */

/*
 * Examples
 * (To see them, uncomment and save)
 */

// style the background color of the tree view
.tree-view {
	// background-color: whitesmoke;
}

// style the background and foreground colors on the atom-text-editor-element itself
atom-text-editor {
	// color: white;
	// background-color: hsl(180, 24%, 12%);
}

// style UI elements inside atom-text-editor
atom-text-editor .cursor {
	// border-color: red;
}

// This is the colour of the verticle line for the rulez moddule
// - set to barely visible and leave the cursor white
atom-text-editor.is-focused.editor {
	ruler-view.rulerz {
		border-left: 1px dotted fade(mix(@text-color-subtle, white), 20%);
	}
}

// This is the color of the invisible characters
// - if set show to true in editor tab of settings
// - set to barely visible so they can be seen only if you look for them
atom-text-editor.editor {
	.leading-whitespace,
	.invisible-character {
		color: white;
		opacity: 0.1;
	}
}

atom-text-editor .syntax--comment {
	color: cadetblue;
}
